<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'sidebar.css' %}" >
    <link rel="stylesheet" href="{% static 'Portal-divide.css' %}" >
 

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="sidebar">
    
  </div>
  <section class="home-section">
 
    <div class="wrapper">

      <div class="table premium">
        
      
        <div class="package-name"></div>
        <ul class="features">
        
          
          <li>
            <span class="list-name">This portal consists of a motion recognition panel which can be summarized as the automatic identification of communication through gestures.
            </span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
        </ul>
        <div class="btn"><button><a href="/animation" style="text-decoration: none; color:black;" >BEGIN</a></button></div>
      </div>
     
  
  </section>

  <script src="{% static 'sidebar.js' %}"> </script>
  <script src="{% static 'tute.js' %}"> </script>

</body>
</html>


